<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Industries</h1>
            <p></p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <div class="container mt-4 mb-4">
                <a routerLink="lifeSciences">LifeSciences</a>
                <br />
                <a routerLink="lifeSciences">Education</a>
                <br />
                <a routerLink="lifeSciences">Insurence</a>
                <br />
                <a routerLink="bankingandpayments">Banking and Payments</a>
                <br />
                <a routerLink="contactus">Retail</a>
                <br />
            </div>
        </div>
    </div>

</div>