<div class="banner">
    <div class="content">



        <div class="text-bg-info p-3 text-dark bg-opacity-75">
            <h3 id="headline-496-1581" class="ct-headline">
                Building greater futures through innovation and collective knowledge
            </h3>
        </div>
        <div id="text_block-513-1581" class="ct-text-block">
            DataInception is an IT services, consulting and business solutions
            organization that has been trying to partnering <br />
            with many of the world’s largest businesses. We believe innovation <br />
            and collective knowledge can transform all our futures with greater purpose.
            <br />

            <br />
        </div>
        <h2 id="headline-235-13" class="ct-headline ">Here’s what we offer.<br></h2>

        <div id="new_columns-477-1581" class="ct-new-columns">
            <div id="div_block-478-1581" class="ct-div-block">
                <div id="div_block-494-1581" class="ct-div-block"><img id="image-495-1581" alt="">
                    <h3 id="headline-496-1581" class="ct-headline">Research</h3>
                </div>
                <div id="text_block-513-1581" class="ct-text-block">Our approach starts with research. We’ll dive deep
                    into your business and take a comprehensive look at your industry so that we are immersed in your
                    field. Understanding your business is the groundwork to understanding your Requirements, and we take
                    the
                    time to lay a strong foundation.</div>
                <div id="div_block-501-1581" class="ct-div-block"><img id="image-502-1581" alt="">
                    <h3 id="headline-503-1581" class="ct-headline">Analytics</h3>
                </div>
                <div id="text_block-499-1581" class="ct-text-block">We will pull meaning from your previous analytics.
                    And if you’re not happy with the analytics you currently have access to, we’ll set you up with a new
                    system — one that works for you.</div>
                <div id="div_block-507-1581" class="ct-div-block"><img id="image-508-1581" alt="">
                    <h3 id="headline-509-1581" class="ct-headline">Data</h3>
                </div>
                <div id="text_block-518-1581" class="ct-text-block">We’ll combine all of your data points into one
                    easy-to-navigate dashboard. Our team will coordinate everything from sales numbers to media metrics,
                    which will give you a holistic view of your data.</div>
                <div id="div_block-546-1581" class="ct-div-block"><img id="image-547-1581" alt="">
                    <h3 id="headline-548-1581" class="ct-headline">and</h3>
                </div>
                <div id="div_block-525-1581" class="ct-div-block"><img id="image-526-1581" alt="">
                    <h3 id="headline-527-1581" class="ct-headline">Results</h3>
                </div>
                <div id="text_block-521-1581" class="ct-text-block">Our data specialists will use data to evolve your
                    business. We’ll make recommendations backed by real numbers, which will create a lasting impact on
                    your sales and strategy.</div>
            </div>
            <br />
            <h2 id="headline-488-1581" class="ct-headline ">Here’s what makes working with us different.<br></h2>
            <br />
            <div id="new_columns-482-1581" class="ct-new-columns">

                <div id="div_block-483-1581" class="ct-div-block">
                    <div id="_rich_text-484-1581" class="oxy-rich-text">
                        <h3>A dedicated team. </h3>
                        <div id="text_block-499-1581" class="ct-text-block">You’ll always have someone to call with your
                             questions — and they’ll be well versed on
                            your account and well equipped to help.</div>
                        <h3>There at every point. </h3>
                        <div id="text_block-499-1581" class="ct-text-block">It doesn’t matter if you’re new to the business or
                            an old pro, or if your data processes and development need
                            tweaking or a complete overhaul. We can help you through it all.</div>
                    </div>
                </div>
            </div>
            <div id="div_block-479-1581" class="ct-div-block"><img id="image-481-1581" alt=""></div>
        </div>

    </div>